<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3DC8F411D255C7600A87779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3DC8F5A1D255C8B00A87779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3DC8F651D255C8B00A87779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
